# Ignore dotenv environment variables file.
*.env

# Ignore admin tokens.
*.admin/tokens

# Ignore large datasets.
*.datasets

# Ignore extraneous LaTeX files.
*.aux
*.bbl
*.blg
*.log
*.nav
*.out
*.snm
*.gz
*.toc
